@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(120deg, #232A39, #4E7A87) no-repeat fixed;
    color: #D3D3D3;
}

.conteudo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    
}

.titulo {
    font-size: 35px;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: space-around;
}

label {
    
    font-size: 18px;
    margin: 0 0 0 15px;
}

.altura, .peso {
    text-align: center;
    width: 210px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background-color: #e4e1e1;
}

[type *= button] {
    text-align: center;
    margin: auto;
    display: block;
    padding: 2px 5px;
    border-radius: 7px;
    color:#D3D3D3;
    border: solid 2px #4E7A87;
    background: linear-gradient(120deg, #232A39, #4E7A87) no-repeat fixed;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.botao:hover {
    background:#232A39;
    border: solid 2px #232A39;
    border-radius: 7px;
    color: #FFFFFF;
}

.textos {
    text-align: center;
    font-size: 19px;
    display: inline;
}
